<h1>Bonjour! Veuillez confirmer votre e-mail!</h1>


<p>Copiez-collez ce lien dans votre navigateur :</p>
<p>{{ signedUrl|raw }}</p>

<p>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
