<h1>Confirmez votre email</h1>
<p>
    Bonjour {{ customer.firstname }} {{ customer.lastname }} !
</p>
<p>
    Cliquez sur ce lien pour activer votre compte : 
    <a href="{{ verifyUrl }}">Activer mon compte</a>
</p>
<p>Merci !</p>
<p>L'équipe LiveEvents</p>