{% extends 'twig_heritage/template.html.twig' %}
{% block title %}
   Bars
{% endblock %}
{% block body %}
    <h1>Camping</h1>
       {{ form(form, {'attr': {'novalidate': 'novalidate'}}, name='bar')  }} 
{% endblock %}