{# héritage du template de base #}
{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block body %}  
    <div class="row">
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>                            
                        <th scope="col">e-mail</th>
                        
                    </tr>
                </thead>
            {% for contact in contacts %}
            <tbody>
                <tr>
                    <th scope="row">{{ contact.id }}</th>
                    <td>{{ contact.email }}</td>
                    <td>
                        <div class='col'>
                            <form action="{{ path('contact.detail', {id: contact.id}) }}">
                                <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Voir</button>
                            </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('contact.delete', {id: contact.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>   
                </tr>
            </tbody>

            {% endfor %}
        </table>
    </div>
{% endblock %}