{% extends 'twig_heritage/template.html.twig' %}
{% block title %}
    POI
{% endblock %}
{% block body %}
    <h1>POI Scène</h1>
       {{ form(form, {'attr': {'novalidate': 'novalidate'}}, name='stage')  }} 
       
{% endblock %}