{% extends 'twig_heritage/template.html.twig' %}
{% block title %}
    Scènes
{% endblock %}
{% block body %}
    <h1>Scènes</h1>
       {{ form(form, {'attr': {'novalidate': 'novalidate'}}, name='stage')  }} 
{% endblock %}