{% extends 'twig_heritage/template.html.twig' %}
{% block title %}
   EXIT
{% endblock %}
{% block body %}
    <h1>Accès</h1>
       {{ form(form, {'attr': {'novalidate': 'novalidate'}}, name='door')  }} 
{% endblock %}