<h1>Bienvenue {{ user.firstname }} !</h1>

<p>
    Merci de vous être inscrit sur notre site 🎉 <br>
    Pour activer votre compte, veuillez confirmer votre adresse email en cliquant sur le bouton ci-dessous :
</p>

<p>
    <a href="{{ signedUrl }}"
       style="display:inline-block;padding:12px 20px;color:white;background-color:#007bff;text-decoration:none;border-radius:5px;">
        Confirmer mon email
    </a>
</p>

<p>
    Ce lien expirera le {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>